.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroBlock {
  width: 95%;
  padding-block-start: 5rem;

  @media (width <= 768px) {
    padding-block-start: 7rem;
  }
  @media (width <= 540px) {
    padding-block-start: 9rem;
  }
  @media (width <= 420px) {
    padding-block-start: 11rem;
  }
}

.standardsCarouselContainer {
  width: 95%;
  padding: 2rem 0;
  margin-top: 1rem;
}

.platformImgContainer {
  width: 95%;
  margin-top: 2rem;
}

.problemContainer {
  width: 90%;
  
  @media (width <= 480px) {
    display: none;
  }
}

.resourcesContainer {
  width: 90%;
}