.about {
  padding-block-start: 7rem;

  @media (width <= 540px) {
    padding-block-start: 9rem;
  }
  @media (width <= 420px) {
    padding-block-start: 11rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .5rem;
}

.header {
  font-family: var(--font-dm-sans-medium), sans-serif;
  font-weight: 500;
  font-size: 2.2em;
  line-height: 1.25;
  overflow: hidden;

  @media (width <= 640px) {
    font-size: 2.8rem;
  }
}


.text {
  font-family: var(--font-inter-regular), sans-serif;
  font-weight: 400;
  font-size: 1.7vw;
  letter-spacing: -.02em;
}

.btnAbout {
  width: fit-content;
  font-size: var(--font-size-s) !important;
  white-space: nowrap;
  overflow: visible;
}

.leadership {
  padding-block-start: 7rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.headerLeadership {
  font-family: var(--font-dm-sans-medium), sans-serif;
  font-weight: 500;
  font-size: 2.2em;
  line-height: 1.25;
}

.lineWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.25em;
}

.grayChar {
  color: #888;
  transition: color 0.3s ease;
}

.coloredChar {
  color: #000;
  transition: color 0.3s ease;
}

.blueChar {
  color: #0066cc;
  transition: color 0.3s ease;
}

.runningText {
  display: inline-block;
  animation: runningTextAnimation 10s linear infinite;
  white-space: nowrap;
}

@keyframes runningTextAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


.coloredChar, .grayChar, .blueChar {
  white-space: pre; /* Сохраняет пробелы */
}

/* Стили для секции FAQ */
.faq {
  max-width: 85%;
  margin: 0 auto;
  width: 100%;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  color: #333;

  @media(width <= 1024px) {
    font-size: 48px;
  }
}

.faqContainer {
  margin: 0 auto;
  background-image: linear-gradient(315deg, #f2f9ff, #f2fcff);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.03);
}

.faqItem {
  padding-inline: .5rem;
  padding-block: .2rem;
  transition: all 0.3s ease;
  overflow: hidden;
}

.faqItem:last-child {
  border-bottom: none;
}

.faqQuestion {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: transparent;
  border: none;
  text-align: left;
  font-weight: 500;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 8px;

}

.faqQuestion:hover {
  background-color: #ffffff;
}

.iconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  & > svg {
    width: 48px;
    height: 48px;
  }

  @media (width <= 768px) {
    width: 32px;
    height: 32px;
  }
}

.icon {
  transition: transform 0.9s ease;
  color: #333;
  width: 16px;
  height: 16px;
}

.iconOpen {
  transform: rotate(180deg);
}

/* Стили для открытого вопроса */
.faqItem.active .faqQuestion {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.faqItem.active .answer {
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.faqItem.active .iconWrapper {
  background-color: #0066ff;
}

.faqItem.active .icon {
  color: #ffffff;
}

.question {
  font-family: var(--font-inter-regular), sans-serif;
  font-weight: 400;
  font-size: 1.9em;
  line-height: .9;

  @media (width <= 1280px) {
    font-size: 1.5em;
    line-height: 1.2;
  }

  @media (width <= 768px) {
    font-size: 1.2em;
  }
}

.answer {
  font-family: var(--font-inter-medium), sans-serif;
  font-weight: 500;
  color: #4d4d4d;
  font-size: .85em;
  padding: 0 32px;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  border-radius: 0 0 8px 8px;
}

.faqItem.active .answer {
  padding: 32px;
  max-height: 500px;
  opacity: 1;

  @media (width <= 768px) {
    padding: 10px 24px;
  }

  @media (width <= 480px) {
    font-size: 1.5em;
  }
}

.faqAnswer p {
  margin: 0;
}

@media (max-width: 768px) {
  .faqTitle {
    font-size: 48px;
    margin-bottom: 40px;
  }
  
  .faqQuestion {
    padding: 20px 24px;
    font-size: 18px;
  }
  
  .faqAnswer {
    padding: 0 24px 20px;
  }
}

@media (max-width: 480px) {
  .faqSection {
    padding: 60px 16px;
  }
  
  .faqTitle {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .faqQuestion {
    padding: 16px 20px;
    font-size: 16px;
  }
  
  .faqAnswer {
    padding: 0 20px 16px;
    font-size: 14px;
  }
}