.about {
  padding-block-start: 7rem;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-inline: auto;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.title {
  font-family: var(--font-dm-sans-medium), sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.25;
}

.paragraph {
  display: flex;
  flex-direction: column;
  row-gap: .5rem;
  padding-block-end: .5rem;
}

.paragraphTitleMain {
  font-family: var(--font-dm-sans-medium), sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.25;
}

.paragraphText {
  font-family: var(--font-inter-regular), sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -.02em;
}

.btnAbout {
  width: fit-content;
  font-size: var(--font-size-s) !important;
  white-space: nowrap;
  overflow: visible;
}

.leadership {
  padding-block-start: 7rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.headerLeadership {
  font-family: var(--font-dm-sans-medium), sans-serif;
  font-weight: 500;
  font-size: 2.2em;
  line-height: 1.25;
}